@charset "UTF-8";
/*COlORES*/
/*FUENTES*/
/*TAMAÑO FUENTE*/
/*ESPACIADOS*/
.navbar-brand {
  padding-top: 0; }

.logo p {
  font-family: 'Times New Roman', Times, serif; }

.logo1 {
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
  line-height: 3rem; }

.logo2 {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0; }

#navbarSupportedContent ul li {
  color: black;
  font-size: 0.9rem; }

#menunav {
  padding-top: 0;
  padding-bottom: 0; }

.nav-item {
  text-transform: uppercase; }

#menu_button {
  display: none; }

#pie {
  font-size: 0.8rem;
  color: white;
  background-color: black; }
  #pie a {
    color: #fff; }
  #pie h3 {
    font-size: 1.2rem; }
  #pie p {
    margin-bottom: 0.5rem; }

.redesSoc a {
  padding: 0 1rem;
  font-size: 1.5rem; }

.locDesc {
  display: none; }

@media screen and (min-width: 768px) {
  .locDesc {
    display: inline; } }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf); }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.7rem; }

a {
  text-decoration: none; }

.btn-light {
  margin: 1rem; }
  .btn-light:hover {
    background-color: #212529;
    color: #e2e6ea;
    border-color: #dae0e5; }

/* INDEX */
#imgPortada {
  width: 95%;
  margin: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95; }

.arrow-bottom {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  display: block;
  width: 100%;
  text-align: center;
  opacity: .5; }
  .arrow-bottom a {
    line-height: 50px; }
  .arrow-bottom:hover {
    opacity: 1; }
  .arrow-bottom span {
    transform: rotate(90deg); }

.picTitle {
  position: absolute;
  top: 10%; }

.cardPic {
  position: relative;
  width: 100%; }

.cardPic__title {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600; }

.cardPic__cta {
  font-size: 1rem;
  margin: 0.5em;
  font-weight: 50;
  text-transform: uppercase; }

@media screen and (min-width: 768px) {
  .cardPic__title {
    font-size: 2.5rem; } }

@media screen and (min-width: 992px) {
  .cardPic__title {
    font-size: 3rem; } }

.wrapper-video {
  height: 300px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
  wrap: nowrap;
  opacity: 0.9; }
  .wrapper-video video {
    width: 90%; }

.articulo__parrafo {
  line-height: 2rem; }

#newIdx {
  color: #fff;
  max-width: 800px; }

/*CONTACTO*/
.newslatter {
  background-image: linear-gradient(black, gray);
  padding: 2rem;
  line-height: 20px; }
  .newslatter form {
    color: #fff;
    max-width: 400px;
    width: 90%;
    margin: auto; }
  .newslatter legend {
    text-transform: uppercase;
    padding: 0.9rem 0; }
  .newslatter select {
    width: 100%;
    margin-bottom: 1rem; }
  .newslatter input[type=text] {
    width: 100%;
    margin-bottom: 1rem; }
  .newslatter [type=email] {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem; }
  .newslatter [type=reset]:hover {
    transform: scale(1.1); }
  .newslatter textarea {
    width: 100%;
    height: 100px; }
  .newslatter input[type=submit]:hover {
    transform: scale(1.1); }

/*NOSOTROS*/
.nosotros {
  background-image: linear-gradient(to right, rgba(97, 97, 97, 0.178), #fff, rgba(97, 97, 97, 0.178)); }
  .nosotros h2 {
    font-size: 1.5rem;
    font-weight: 600; }
  .nosotros h3 {
    font-size: 1.5rem; }

#preguntasFrecuentes {
  overflow-x: hidden; }

.formaPago th {
  background-color: #cccccc;
  color: #fff;
  letter-spacing: 2px;
  padding: 5px 8px;
  text-transform: uppercase; }

.formaPago td {
  border-bottom: 1px solid black;
  padding: 5px 8px; }

.formaPago tr:hover {
  background: linear-gradient(90deg, #f7f7f7 0%, rgba(87, 86, 86, 0.66) 50%); }

/*MUEBLES Y MATERIALES*/
.muebles img {
  width: 100%;
  max-width: 320px;
  height: auto; }

.muebles div {
  animation-duration: 5s;
  animation-name: aparecer; }

#collapseMenu a {
  text-decoration: none;
  color: black; }

#collapseMenu li {
  padding: 0.4rem;
  list-style-type: none; }
  #collapseMenu li:hover {
    background-color: #cccccc; }

.galeria img:hover {
  filter: opacity(0.8);
  transform: scale(1.05); }

/* Animation */
.fadeIn {
  animation: fadeIn;
  animation-duration: 2s; }

.inLeft {
  animation: backInLeft;
  animation-duration: 2s; }

.inRight {
  animation: backInRight;
  animation-duration: 2s; }

.inUp {
  animation: backInUp;
  animation-duration: 2s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
