@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif; 
}

h1 {
	font-size: $fontLarge;
}

h2 {
	font-size: $fontMedium;
}

h3 {
	font-size: $fontMedium;
}

a{
    text-decoration: none;
}

.btn-light{
    &:hover{
        background-color: $colorStrongGray;
        color: $colorLight2;
        border-color: $colorLight2;
    }
}




