#pie {
	font-size: 0.8rem;
	color: white;
	background-color: black;
	a {
		color: white;
	}
	h3 {
		font-size: 1.2rem;
	}
	p {
		margin-bottom: 0.5rem;
	}
}
.redesSoc {
	a {
		padding: 0 1rem;
		font-size: 1.5rem;
	}
}
.locDesc {
	display: none;
}

@media screen and (min-width:768px) {
	.locDesc {
		display: inline;
	}
}