.logo {
	p {
		font-family: 'Times New Roman', Times, serif;
	}
}
.logo1 {
	font-size: 2.6rem;
	margin: 0;
	padding: 0;
}
.logo2 {
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	margin: 0;
	padding: 0;
}
#navbarSupportedContent {
	ul {
		li {
			color: black;
			font-size: 0.9rem;
		}
	}
}
#menunav {
	padding-top: 0;
	padding-bottom: 0;
}
.nav-item {
	text-transform: uppercase;
}
#menu_button {
	display: none;
}
