/* INDEX */

#imgPortada {
	width: 95%;
	margin: 1rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.95;
}
h2 {
	font-size: 1.7rem;
}

/*CONTACTO*/
.newslatter {
	background-image: linear-gradient(rgb(37, 33, 33),gray);
	padding: 2rem;
	line-height: 20px;
	form {
		color: #fff;
		max-width: 400px;
		width: 90%;
		margin: auto;
	}
	legend {
		text-transform: uppercase;
		padding: 0.9rem 0;
	}
	select {
		width: 100%;
		margin-bottom: 1rem;
	}
	input[type=text] {
	width: 100%;
	margin-bottom: 1rem;
    }
    [type=email] {
    	width: 100%;
    	margin-bottom: 1rem;
    }
    [type=reset] {
    	&:hover {
    		transform: scale(1.1);
    	}
    }
	textarea {
		width: 100%;
		height: 100px;
	}
	input[type=submit] {
		&:hover {
			transform: scale(1.1);
		}
	}
}
#newIdx {
	color: #fff;
	max-width: 800px;
}

/*NOSOTROS*/
.nosotros {
	background-image: linear-gradient(to right, rgba(97, 97, 97, 0.178) , white, rgba(97, 97, 97, 0.178));
	h2 {
		font-size: 1.5rem;
		font-weight: 600;
	}
	h3 {
		font-size: 1.5rem;
	}
}
.formaPago {
	th {
		background-color: gray;
		color: white;
		letter-spacing: 2px;
		padding: 5px 8px;
		text-transform: uppercase;
	}
	td {
		border-bottom: 1px solid black;
		padding: 5px 8px;
	}
	tr {
		&:hover {
			background: linear-gradient(90deg, rgb(247, 247, 247) 0%, rgba(87, 86, 86, 0.66) 50%);
		}
	}
}

/*MUEBLES Y MATERIALES*/
.muebles {
	img {
		width: 100%;
		max-width: 320px;
		height: auto;
	}
	div {
		animation-duration: 5s;
		animation-name: aparecer;
	}
}
#collapseMenu {
	a {
		text-decoration: none;
		color: black;
	}
	li {
		padding: 0.4rem;
		list-style-type: none;
		&:hover {
			background-color: rgb(204, 204, 204);
		}
	}
}

.galeria {
	img {
		&:hover {
			filter: opacity(0.8);
			transform: scale(1.05);
		}
	}
}

/* Animation */
.fadeIn {
	animation: fadeIn;
	animation-duration: 2s;
}
.inLeft {
	animation: backInLeft;
	animation-duration: 2s;
}
.inRight {
	animation: backInRight;
	animation-duration: 2s;
}
.inUp {
	animation: backInUp;
	animation-duration: 2s;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width:768px) {
	.locDesc {
		display: inline;
	}
}