/* INDEX */

#imgPortada {
	width: 95%;
	margin: $medium;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.95;
}

.picTitle{
	position: absolute;
	top: 10%;
}

.cardPic {
    position: relative;
    width: 100%;
}

.cardPic__title {
    font-size: $fontMedium;
	color: $colorLight;
	text-transform: uppercase;
	font-weight: 600 ;
	@include res768{
		font-size: $fontXLarge;
	}
	@include res992{
		font-size: $fontXXLarge;
	}
} 

// @media screen and (min-width:768px) {
// 	.cardPic__title{
// 		font-size: $fontXLarge;
// 	}
// }

.cardPic__cta {
	text-transform: uppercase;
	a{
		@include res992{
			font-size: $fontSmall;
		}
	}
} 

// @media screen and (min-width:992px) {
// 	.cardPic__cta{
// 		a{
// 			font-size: $fontSmall;
// 		}
// 	}
// 	.cardPic__title{
// 		font-size: $fontXXLarge;
// 	}
// }


.goAhead{
	position: absolute;
	bottom: 0px;
	z-index: 1;
	display: block;
	width: 100%;
	text-align: center;
    opacity: .5;
	a{
		line-height: 50px;
	}
	
	&:hover{
		opacity: 1;
	}
	// span{
	// 	transform: rotate(90deg);
	// }
}

.arrowContainer{
	width: 100px;
	height: 50px;
	margin:0 auto;
	position: relative;
}

.arrow-bottom {
	animation: arrow 2s ease-in-out infinite;
	font-size:20px;
}

.wrapper-video{
	height: 300px;
	width: 100%;
	overflow: hidden;
	// display:flex;
	// align-items: center;
	// justify-content: end;
	@include flex(row, end, center, nowrap);
	opacity: 0.9;
	video{
		width: 90%;
	}
}

.articulo__parrafo{
	line-height: $xlarge;
}

#newIdx {
	color: $colorLight;
	max-width: 800px;
}

#suscribe{
	margin-left:$small;
}

/*CONTACTO*/
.newslatter {
	background-image: linear-gradient($colorDark,$colorGray);
	padding: $xlarge;
	line-height: 20px;
	form {
		color: $colorLight;
		max-width: 400px;
		width: 90%;
		margin: auto;
	}
	legend {
		font-size: $medium;
		text-transform: uppercase;
		padding: $medium 0;
	}
	select {
		width: 100%;
		margin-bottom: $medium;
	}
	input[type=text] {
	width: 100%;
	margin-bottom: $medium;
    }
    [type=email] {
    	width: 100%;
		max-width: 400px;
    	margin-bottom: $medium;
    }
    [type=reset] {
    	&:hover {
    		transform: scale(1.1);
    	}
    }
	textarea {
		width: 100%;
		height: 100px;
	}
	input[type=submit] {
		&:hover {
			transform: scale(1.1);
		}
	}
}

/*NOSOTROS*/
.nosotros {
	background-image: linear-gradient(to right, rgba(121, 121, 126, 0.178) , $colorLight, rgba(121, 121, 126, 0.178));
	h2 {
		font-weight: 600;
	}
}

#preguntasFrecuentes{
	overflow-x:hidden;
}

.formaPago {
	th {
		background-color: $colorGray;
		color: $colorLight;
		letter-spacing: 2px;
		padding: 5px 8px;
		text-transform: uppercase;
	}
	td {
		border-bottom: 1px solid $colorDark;
		padding: 5px 8px;
	}
	tr {
		&:hover {
			background: linear-gradient(90deg, $colorLight 0%, $colorGray 90%);
		}
	}
}

/*MUEBLES Y MATERIALES*/
.muebles {
	img {
		width: 100%;
		max-width: 320px;
		height: auto;
	}
	div {
		animation-duration: 5s;
		animation-name: aparecer;
	}
}

#collapseMenu {
	a {
		text-decoration: none;
		color: $colorDark;
	}
	li {
		padding: $small - 0.1rem;
		list-style-type: none;
		&:hover {
			background-color: $colorLightGray;
		}
	}
}

.galeria {
	img {
		&:hover {
			filter: opacity(0.8);
			transform: scale(1.05);
		}
	}
}

/* Animation */
.fadeIn {
	animation: fadeIn;
	animation-duration: 2s;
}
.inLeft {
	animation: backInLeft;
	animation-duration: 2s;
}
.inRight {
	animation: backInRight;
	animation-duration: 2s;
}
.inUp {
	animation: backInUp;
	animation-duration: 2s;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes arrow {
	0% {
	transform: rotate(90deg) ;
	}
	50% {
	transform: translate(0, 20px) rotate(90deg) ;
	}
	100% {
	transform: rotate(90deg) ;
	}
}
