/*COlORES*/
$colorDark: black;
$colorLight: #fff;
$colorLight2: #e2e6ea;
$colorGray: gray;
$colorLightGray: #cccccc;
$colorStrongGray: rgba(34, 35, 37, 0.85);

/*FUENTES*/
$fontPri: 'Montserrat', 'sans-serif';

/*TAMAÑO FUENTE*/
$fontXSmall: 0.8rem;
$fontSmall: 1.2rem;
$fontMedium: 1.6rem;
$fontLarge: 2rem;
$fontXLarge: 2.5rem;

/*ESPACIADOS*/
$small: 0.5rem;
$medium: 1rem;
$large: 1.5rem;