$colorBlack: black;
$colorWhite: #fff;
$colorWhite2: #e2e6ea;
$colorGray: gray;
$colorLightGray: #cccccc;
$colorStrongGray: rgba(87, 86, 86, 0.66);

$fontSite: 'Montserrat', sans-serif;

/*TAMAÑO FUENTE*/
$fontSize: 1rem;

/*ESPACIADOS*/
$large: 2rem;
$medium: 1rem;
$small: 0.5rem;
