.newslatter {
	background-image: linear-gradient($colorDark,$colorGray);
	padding: $xlarge;
	line-height: 20px;
	form {
		color: $colorLight;
		max-width: 400px;
		width: 90%;
		margin: auto;
	}
	legend {
		font-size: $medium;
		text-align: center;
		text-transform: uppercase;
		padding: $medium 0;
	}
	select {
		width: 100%;
		margin-bottom: $medium;
		padding: $xSmall;
		border-radius: 10px;
	}
	input[type=text] {
	width: 100%;
	margin-bottom: $medium;
	padding: $xSmall;
	border-radius: 10px;
	border: 2px solid $colorLightGray;
    }
    [type=email] {
    	width: 100%;
		max-width: 400px;
    	margin-bottom: $medium;
		padding: $xSmall;
		border-radius: 10px;
		border: 2px solid $colorLightGray;
    }
    [type=reset] {
		padding: $small;
    	&:hover {
    		transform: scale(1.1);
    	}
    }
	textarea {
		width: 100%;
		height: 100px;
		border-radius: 10px;
		border: 2px solid $colorLightGray;
	}
	input[type=submit] {
		&:hover {
			transform: scale(1.1);
		}
	}
}
